* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    --tan: #e8cfc1;
    --dark-brown: #523e27;
    --d-brown-orange: #a87008;
    --l-brown-orange: #f2bd99;
}

body {
    font-weight: bold;
}
 button {
    font-weight: bold;
 }
.header {
    background-color: var(--tan);
    color: var(--dark-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.section-one {
    background-color: var(--dark-brown);
    display: flex;
    text-align: center;
    padding: 25px;
}
.section-one h1 {
    color: var(--l-brown-orange);
}

.section-one p {
    color: var(--tan);
}

.section-one button {
   background-color: var(--d-brown-orange);
   color: var(--tan);
   padding: 10px;
   border-radius: 10px;
   border: solid 2px var(--d-brown-orange);
}

.section-two {
    background-color: var(--tan);
    color: var(--dark-brown);
    padding: 25px;
    text-align: center;
}

.cards {
    display: flex;
    gap: 15px;
}
.section-three {
    background-color: var(--l-brown-orange);
    color: var(--dark-brown);
    padding: 25px;
    text-align: center;
}

.section-three .quote {
    font-style: italic;
}

.section-four {
    background-color: var(--tan);
    padding: 25px;
}
.action-box {
    background-color: var(--dark-brown);
    color: var(--tan);
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.action-box button {
    background-color: var(--d-brown-orange);
    color: var(--tan);
    border-radius: 10px;
    padding: 10px;
    border: solid 2px var(--d-brown-orange);
}

.footer {
    background-color: var(--dark-brown);
    color: var(--tan);
}